<iframe
  id="sound-cloud-embed"
  width="100%"
  height="600"
  scrolling="no"
  frameborder="no"
  allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1887519696&color=%23ff5500&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
></iframe><div
  style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
>
  <a
    href="https://soundcloud.com/xofeliaa"
    title="xofeliaa"
    target="_blank"
    style="color: #cccccc; text-decoration: none;">xofeliaa</a
  > · <a
    href="https://soundcloud.com/xofeliaa/mix-1"
    title="this-is-me-if-u-even-care"
    target="_blank"
    style="color: #cccccc; text-decoration: none;">this-is-me-if-u-even-care</a>
</div>
<script is:inline>
// const soundcloudEmbed = document.getElementById('sound-cloud-embed') 
// const audioStream = soundcloudEmbed.captureStream()

</script>
